/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Cherry+Swash&family=Gloria+Hallelujah&family=Montserrat&display=swap');

/* Global styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: url(../images/friends-background.webp) no-repeat center 60% fixed;
    background-size: cover;
}

body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #3a3a3a;
}

h1 {
    font-family: 'Gloria Hallelujah', sans-serif;
    line-height: 35px;
    font-size: 30px;
    padding-bottom: 10px;
}

h2 {
    font-family: 'Cherry Swash', sans-serif;
    font-size: 24px;
}

/* Same styles for home page, rules, quiz area */
.quiz-container, .rules-area, .quiz-area {
    background-color: #a0a9d9;
    border-radius: 10px;
    width: 80vw;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.rules-area {
    padding: 10px 10px 10px 25px;
}

.rules-area ul {
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Hide rules area */

.hidden {
    display: none;
}

.rules-area .home-btn {
    width: 40vw;
    padding: 5px;
}

/* Buttons */

.btn {
    font-family: 'Cherry Swash', sans-serif;
    font-size: 24px;
    width: 60vw;
    padding: 15px;
    margin: 15px;
    border-radius: 10px;
    background-color: #ffe599;
    border: none;
    color: #3a3a3a;
}

.hover:hover {
    cursor: pointer;
    box-shadow: 0 0.5rem 1.4rem 0 #eeba1d;
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

/* Info bar */

.info-bar {
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 20px;
    align-items: center;
}

.info-bar i {
    font-size: 25px;
}

.home-icon:hover {
    box-shadow: none;
}