/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Cherry+Swash&family=Gloria+Hallelujah&family=Montserrat&display=swap');

/* Global styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: url(../images/friends-background.webp) no-repeat center 60% fixed;
    background-size: cover;
}

body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #3a3a3a;
}

h1 {
    font-family: 'Gloria Hallelujah', sans-serif;
    line-height: 35px;
    font-size: 30px;
    padding-bottom: 10px;
}

h2 {
    font-family: 'Cherry Swash', sans-serif;
    font-size: 24px;
}

/* Same styles for home page, rules, quiz area */
.quiz-container, .rules-area, .quiz-area, .quiz-end-page, .high-scores-page, .error-page {
    background-color: #a0a9d9;
    border-radius: 10px;
    width: 80vw;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.rules-area {
    padding: 10px 10px 10px 25px;
}

.rules-area h2 {
    padding-bottom: 10px;
}

.rules-area ul {
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
}

.rules-area #home-btn {
    width: 40vw;
    padding: 5px;
}

/* Hide rules area */

.hidden {
    display: none;
}

/* Buttons */

.btn {
    font-family: 'Cherry Swash', sans-serif;
    font-size: 24px;
    width: 60vw;
    padding: 15px;
    margin: 15px;
    border-radius: 10px;
    background-color: #ffe599;
    border: none;
    color: #3a3a3a;
}

.hover:hover {
    cursor: pointer;
    box-shadow: 0 0.5rem 1.4rem 0 #eeba1d;
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

/* Quiz area */

/* Info bar */

.info-bar {
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 20px;
    align-items: center;
}

hr {
    border: 1px solid #3a3a3a;
    width: 100%;
    margin-top: 3px;
}

.info-bar i {
    font-size: 25px;
}

.home-icon:hover {
    box-shadow: none;
}

/* Question area */

.question-area {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.answer-area {
    display: flex;
    flex-direction: column;
}

.answer-btn {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    padding: 10px;
    margin: 10px;
}

.next-btn, .restart-btn {
    font-size: 16px;
    width: 25vw;
    padding: 5px;
    margin: 5px;
}

/* Answers */
.correct {
    background-color: rgb(105, 190, 65);
    font-weight: bold;
}

.incorrect {
    background-color: rgb(243, 88, 88);
    font-weight: bold;
}

.bold {
    font-weight: bold;
    font-size: 18px;
    color: rgb(243, 88, 88);
}

/* End page buttons */
.end-btn, #username, .return-home-btn {
    font-size: 20px;
    width: 50vw;
    padding: 5px;
    margin: 5px;
}

#username {
    font-family: 'Montserrat', sans-serif;
    border-radius: 10px;
    border: none;
    font-size: 18px;
}

.score {
    color: #3a3a3a;
}

.return-home-btn {
    text-decoration: none;
}

/* High scores page */
#high-scores-list {
    list-style: none;
}

.high-score:hover {
    transform: scale(1.025);
}

/* Media queries */
@media screen and (min-width: 900px) {
    .quiz-container, .rules-area, .quiz-area, .quiz-end-page, .high-scores-page, .error-page {
        max-width: 800px;
    }

    #play-btn, #rules-btn, #high-scores-btn, .rules-area #home-btn {
        width: 500px;
    }

    .info-bar {
        width: 800px;
    }

    .answer-btn {
        width: 300px;
    }

    .answer-area {
        font-size: 20px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .next-btn, .restart-btn, .end-btn, #username, .return-home-btn {
        width: 250px;
        padding: 10px;
        margin: 5px;
    }

    .next-restart-btns {
        display: flex;
        flex-direction: column;
    }

    .score-text {
        font-size: 20px;
    }
}

@media screen and (max-height: 414px) and (max-width: 896px) and (orientation: landscape) {
    .quiz-container, .rules-area,.high-scores-page, .error-page {
        height: 45vw;
    }

    .quiz-area, .quiz-end-page {
        height: 35vw;
    }

    .answer-area {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center; 
    }

    .answer-btn {
        width: 30vw;
    }
}

@media screen and (max-height: 390px) and (orientation: landscape) {
    .quiz-end-page {
        height: 40vw;
    }
}

@media screen and (max-height: 375px) and (orientation: landscape){
    .btn {
        padding: 10px;
        margin: 10px;
    }

    .quiz-area {
        height: 47vw;
    }

    .end-page-area {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center; 
    }

    .end-btn, #username {
        width: 25vw;
        margin: 7px;
    }
}

@media screen and (max-height: 280px) and (orientation: landscape) {
    .quiz-container, .rules-area, .quiz-area, .quiz-end-page, .high-scores-page, .error-page {
        height: 40vw;
    }

    .home-screen-area, .end-page-area {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .answer-btn, #play-btn, #rules-btn, #high-scores-btn, #username, .end-btn {
        width: 200px;
        padding: 7px;
        margin: 7px;
    }

    .next-btn, .restart-btn {
        padding: 7px;
        margin: 7px;
    }

    h2 {
        font-size: 20px;
    }
    
    .rules-area p, .rules-area ul {
        font-size: 12px;
    }

    .rules-area #home-btn {
        font-size: 16px;
        width: 10vw;
        margin: 5px;
    }
}

